html, body, .ua-choices {

  margin: 0;
}

.ua-choices {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ua-choice {
  height: 20%;
  margin: 0.2em;
  padding: 0.2em;
  background-color: #E5F2F2;
}

.ua-choice:hover {
  background-color: #CFF2F2;
}
